.title {
    font-family: cambria;
    font-size: 40px;
    color: purple;
    text-align: center;
} 

.butterfly {
    width: 60px;
    height: 60px;
}

.introduction-container {
    border-bottom: 2px solid pink;
}

.paragraph {
    font-family: 'Lucida Sans';
    font-size: 28px;
    margin-bottom: 50px;
    text-align: left;
}

.nails {
    float: right;
    margin-right: 400px;
    widows: 130px;
    height: 130px ;
}

.table {
    width: 100%;
    border-bottom: 2px solid orange;
    margin-top: 6px;
    padding-bottom: 10px;
}

.table-images {
    width: 110px;
    height: 110px; 
}

.row-link {
    font-size: x-large;
    color: black;
}

.link-naturales {
    color: crimson;
}

.enlace-acrilicas {
    text-align: center;
}

.link-acrilicas {
    color: darkmagenta;
}

.enlace-permanentes {
    text-align: right;
}

.link-permanentes {
    color: green;
}

.subtitle {
    font-family: cursive;
    font-size: 30px;
    color: purple;
    margin-bottom: 15px;
}

.products {
    list-style-type: square;
    font-size: x-large;
    font-family: inherit;
}

.information {
    text-align: center;
    color: hotpink;
    font-size: x-large;
    border-bottom: 2px solid green;
    padding-bottom: 30px;
}

.social-networks {
    width: 50px;
    height: 50px;
}

.bottom-networks {
    text-align: right;
    color: coral;
    font-size: 20px;
}

.bottom-close{
    text-decoration: none;
    font-weight: 50px;
    font-size: 20px;
    border-style: solid;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    color: maroon;
}