.title {
    font-family: cambria;
    font-size: 40px;
    color: purple;
    text-align: center;
} 

.mariposa {
    width: 60px;
    height: 60px;
}

.paragraph {
    font-family: 'Lucida Sans';
    font-size: 28px;
    margin-bottom: 50px;
    text-align: left;
}

.nails {
    float: right;
    margin-right: 20px;
    width:80px ;
    height:80px ;
}

.line